.container {
    background-image: url('../imagem/flor-tropical.jpg');
    background-size: cover;
    background-position: center;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #ccc;
    background: white;
    color: #4CAF50;
}
  
form h2 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}
  
form label {
    color: #4CAF50;
    display: block;
    margin-bottom: 10px;
}
  
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="date"] {
    background: #EAE8E8;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    
}
  
form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
form input[type="submit"]:hover {
    background-color: #3e8e41;
}

.endereco label,
.endereco input {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
  width: 100px;
}

.endereco label {
  text-align: right;
  margin-right: 10px;
}

.endereco input[type="text"] {
  width: 200px;
}

form h3 {
    color: #4CAF50;
    text-align: center;
}

.btn-container {
    text-align: center;
  }

#btn {
    padding: 10px;
    width: 80%;
    background: #4CAF50;
    color: white;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}
